# Python2
*.pyc

# Python3
__pycache__/

# setuptools
dist/
.eggs/
*.egg-info/

# Testing
.cache/
.tox/

# Web
npm-debug.log
web/node_modules
web/npm-debug.log
web/lib
.DS_Store
web/dist
web/target
web/.idea
